description/model/xml/anymal_c/anymal_c_mjx.xml
description/model/xml/anymal_c/scene_mjx.xml
description/model/xml/anymal_c/README.md
description/model/xml/anymal_c/LICENSE
description/model/xml/anymal_c/anymal_c.xml
description/model/xml/anymal_c/anymal_c.png
